---
// eslint-disable-next-line prettier/prettier
import Navbar2 from '@/components/Navbar2/Navbar2';
import { Footer } from '@/partials/Footer';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
    ogImage?: string; // Optional ogImage property
  };
}

const {
  head: { title, description, ogImage },
} = Astro.props as Props;

const defaultTitle = "Leeto's Portfolio";
const defaultDescription = "Showcase of some of my projects";
const defaultOgImage = '/assets/images/leeto-og.png';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <meta property="og:url" content="https://leeto.dev/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title || defaultTitle} />
    <meta property="og:description" content={description || defaultDescription} />
    <meta property="og:image" content={ogImage || defaultOgImage} />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="leeto.dev" />
    <meta property="twitter:url" content="https://leeto.dev/" />
    <meta name="twitter:title" content={title || defaultTitle} />
    <meta name="twitter:description" content={description || defaultDescription} />
    <meta name="twitter:image" content={ogImage || defaultOgImage} />
    
    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      defer
      data-domain="leeto.dev"
      src="https://plausible.leeto.dev/js/plausible.outbound-links.js"></script>
  </head>
  <body
    class="min-h-screen bg-slate-900 bg-gradient-to-br from-slate-900 via-slate-900 to-zinc-900 text-gray-100"
  >
    <Navbar2 client:load />

    <slot />

    <Footer />
  </body>
</html>
