---
import Navbar2 from '@/components/Navbar2/Navbar2';
import { Footer } from '@/partials/Footer';
import { AppConfig } from '@/utils/AppConfig';

export interface Props {
  head: {
    title: string;
    description: string;
  };
}

const {
  head: { title, description },
} = Astro.props as Props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="author" content={AppConfig.author} />

    <link rel="alternate" type="application/rss+xml" href="/rss.xml" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body
    class="min-h-screen bg-slate-900 bg-gradient-to-br from-slate-900 via-slate-900 to-zinc-900 text-gray-100"
  >
    <Navbar2 client:load />

    <slot />

    <Footer />
  </body>
</html>
